 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #111827;
    color: white;
}

/* Header */
header {
    background: #0B1F3A;
    position: sticky;   
    top: 0;
    position: relative;  
    z-index: 1000;      
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 55px;
    border-radius: 50%;
}

.logo h2 {
    color: #D4AF37;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: #D4AF37;
}

/* Hero Section */
.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(16, 36, 122, 0.041),
            rgba(5, 22, 71, 0.55)),
        url("hero-bg.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    position: relative;   
    z-index: 1;          
}

.hero-content h1 {
    font-size: 4rem;
    color: #fff;
}

.hero-content p {
    max-width: 650px;
    margin: 20px auto;
    font-size: 1.1rem;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    background: #D4AF37;
    color: black;
    padding: 14px 35px;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(212, 175, 55, 0.4);
}

/* Section */
section {
    padding: 80px 8%;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    color: #D4AF37;
    font-size: 2.3rem;
}

/* Activities */
.activity-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
    backdrop-filter: blur(8px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    color: #D4AF37;
    padding: 20px 20px 10px;
}

.card p {
    padding: 0 20px 30px;
    line-height: 1.8;
}

/* Schedule */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1F2937;
    border-radius: 15px;
    overflow: hidden;
}

th {
    background: #D4AF37;
    color: black;
}

th,
td {
    padding: 18px;
    text-align: center;
}

tr:nth-child(even) {
    background: #374151;
}

/* Footer */
footer {
    text-align: center;
    background: #0B1F3A;
    padding: 40px 20px;
}

footer h3 {
    color: #D4AF37;
}

footer p {
    margin-top: 10px;
}

/* Responsive */
@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}
